body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
.headline-sec {
  background-image: url(./assets/Images/image6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center ;
  background-attachment: fixed;
  position: relative;
}
.headline-sec::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.562); /* Dark overlay */
}
.our-mission-sec{
  background-image: url(./assets/Images/image7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center ;
  background-attachment: fixed;
  position: relative;
}
.our-mission-sec::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.397); /* Dark overlay */
}
@import "tailwindcss";
